@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif; 
}

.wrapper,
.portfolio{
  width: 100vw;
  height: 100vh;
  background-color: #191c32;
  color: #fff;
}
.navbar{
  display: flex;
  justify-content: space-between;
  padding: 2em;
}

.brand{
  margin-top: -7px;
}

.brand span {
  color: aqua;
}
.menu {
  display: flex;
  width: 50%;
  justify-content: space-around;
}
.menu li{
  list-style: none;
}

.menu a {
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
}
.menu .active {
  color: aqua;
}
.menu a:hover{
  background-color: aqua;
  color: #191c32;
  transition: ease-in .4s;
}
.main{
  margin: auto;
  width: 80vw;
  height: 80vh;
  display: grid;
  grid-template-columns:repeat(2,1fr);
  align-items: center;
}

h1 {
  font-size: 3em;
}
span{
  color: aqua;
}
.download-cv{
  padding: 10px 20Px;
  background-color: aquamarine;
  border: none;
  border-radius: 20px;
  margin-top: 10px;
  cursor: pointer;
}

.main img{
  width: 350px;
  border: 7px solid aqua;

}

.about {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  width: 100vw;
  align-items: center;
}

.about img {
   width: 100%;
   grid-column: 1/5;
}
.about-info{
  grid-column: 5/10;
  padding: 3em;
}

.about-info h2 {
  font-size: 2em;
  color: #191c32;
}

.divider{
  height: 4px;
  width: 60px;
  background-color: aqua;
  margin-top: 5px;
  margin-bottom: 2em;
}
.about p {
  margin-bottom: 1em;
}
.portfolio-headings{
  width: 100vw;
  padding: 5em;
}
.portfolio-headings{
  font-size: 2.5em;
}

.portfolio .container{
width: 80vw;
height: 80vh;
margin: 0 auto;
display: flex;
justify-content: center;
}
.card {
  width: 300px;

}

.card__projects-links{
  display: flex;
  justify-content: space-evenly;

}

.card__projects-links a{
  color: #fff;
  text-decoration: none;
}

.card__projects-links i{
  font-size: 1.5em;

}









